@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

nav{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(171 133 115 / 16%) 0px 2px 10px;
    position: relative;
    z-index: 100;
    padding: 10px 20px;
}


iframe{
    flex: 1;
    min-height: 100%;
    /* background-color: #a21b1b63; */
}


nav{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgb(171 133 115 / 16%) 0px 2px 10px;
    position: relative;
    z-index: 100;
    padding: 10px 20px;
}

nav div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px;
    flex: 1;
    color: #333;
}

nav button:nth-child(1){
    width: 32px;
    height: 32px;
    background-image: url('/img/open-s.svg');
    background-size: contain;
    background-color: #fff;
    border: 0px solid #fff;
}

nav div:nth-child(2) div{
    padding: 0px 20px;
    font-size: 18px;
    height:44px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

nav div:nth-child(2) div img{
    height: 100%;
}

nav div:nth-child(2) div p{
    padding-left: 5px;
    color: #bf3654;
    font-weight: 900;
    font-size: 18px;
}

nav div:nth-child(2) div div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
}

nav div:nth-child(2) div span{
    /* color: #717781; */
    color: #333;
    font-size: 16px;
}

nav button:nth-child(3){
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    min-width: 0px;
    background-color: #ef6e4a27;
    color: #bf3654;
    width: fit-content;
    border-radius: 10px;
    padding: 8px 12px;
    border: 0px solid #ffff;
    font-size: 15px;
}

nav button:nth-child(5){
    height: 100%;
    border-radius: 10px;
    border: 0px solid #fff;
    padding: 12px 16px;
    width: fit-content;
    min-width: 0px;
    font-size: 17px;
    color: #fff;
    background-color: #bf3654;
    margin-right: 10px;
}

nav button:nth-child(6),nav button:nth-child(4){
    position: relative;
    width: max-content;
    border: none;
    margin: 0px;
    height: 35px;
    background-color: #ef6e4a5f;
    padding: 0.15rem 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav button:nth-child(6) svg, nav button:nth-child(4) svg{
    stroke: #bf3654;
}

.menu{
    list-style:none;
    border:0px solid #c0c0c0;
    float:left;
}

.menu li{
position:relative;
float:left;
border-right:0px solid #c0c0c0;
}

.menu li a{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 16px;
    height: 48px;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

.menu li a:hover{
background:#ef6e4a20;
border-radius: 15px;
color: #bf3654;
text-align: center;
display: flex;
-webkit-box-align: center;
align-items: center;
fill: #bf3654;
}

.menu li  ul{
position:absolute;
top:25px;
left:0;
background-color:#fff;
display:none;
}
.menu li ul li{
border:1px solid #c0c0c0;
display:flex;
width:150px;
}

/* #fdede8 */
.menu li ul{
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    margin-top: 32px;
    background: #fdede8;
    border: 0px solid #fdede8;
    width: 280px;
    box-shadow: -2px 2px 2px 0px #fdede8;
    padding: 4px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    display: none;
    box-shadow: rgb(171 133 115 / 16%) 0px 2px 10px;
}

/* .menu li ul{
    display: flex;
    background-color: #f1f1f1;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    color: #292c30;
    box-shadow: inset 0 0 12px 4px rgb(224 224 224 / 80%);
    border: 0px;
    border-bottom: 2px solid #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.menu li ul li{
    width: 100%;
    padding: 15px;
    color: #bf3654;
    background: #ef6e4a00;
    border-radius: 15px;
    border: 0px solid #fff;
    height: 49px;
}
.menu li:hover ul, .menu li.over ul{display:flex;}

#Trading{
    padding: 10px 20px;
}


#Earn{
    padding: 10px 0px;
}

#Trading #se, #Earn #se{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

#Trading #se button, #Earn #se button{
    padding: 10px 12px;
    color:#bf3654;
    border: none;
    border-bottom: 2px solid #bf3654;
    background: #ffff;
    font-size: 16px;
}


#Earn #esc{
    flex: 1;
}

#Trading #se button:nth-child(2), #Earn #se button:nth-child(2){
    border-bottom: 2px solid #fff;
    margin-left: 20px;
}

#Trading #esc #a1,#Trading #esc #a2{
    display: none;
    padding-top: 20px;
}

#Trading #esc #a2{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start
}

#Trading #esc #a1{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
}

#Earn #esc #a1, #Earn #esc #a2{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

#Earn #esc #a1 .top,#Earn #esc #a2 .top{
    background-color: #fdede8;
    border: 1px solid #fdede8;
}

#Earn #esc #a1 .top div, #Earn #esc #a2 .top div#d{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 232px;
    flex-direction: column;
    padding: 0px 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

#Earn #esc #a1 .content, #Earn #esc #a2 .content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    background: #fff;
}

#Earn #esc #a1 .content article, #Earn #esc #a2 .content article{

    min-height: calc(100vh - 64px);
    padding: 0px 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

#Earn #esc #a1 .content article .painel, #Earn #esc #a2 .content article .painel{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 32px;
    flex-flow: row wrap;
    padding: 16px 32px;
    margin-bottom: 0px;
}

#Earn #esc #a1 .content article .painel #a1, #Earn #esc #a2 .content article .painel #a1{
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: auto;
}

#Earn #esc #a1 .top div button, #Earn #esc #a2 .top div#d button{
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    background-color: transparent;
    color: #bf3654;
    box-shadow: none;
    padding: 0px;
    fill: #bf3654;
    font-weight: 600;
    line-height: 1.5;
}
#Earn #esc #a1 .top div button svg, #Earn #esc #a2 .top div#d button svg{
    margin-left: 4px;
    align-self: center;
    flex-shrink: 0;
}

#Earn #esc #a1 .top div h1, #Earn #esc #a2 .top div#d h1{
    margin: 0px;
    margin-bottom: 24px;
    color: #333;
    font-weight: 600;
    line-height: 1.1;
    font-size: 64px;
}

#Earn #esc #a1 .top div h2, #Earn #esc #a2 .top div#d h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
    color: #333;
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}

#Trading #esc #a1 div[s]:nth-child(2){
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap; 
    height: 100%; 
    align-items: stretch; 
    justify-content: flex-start; 
    width: 100%; 
    max-width: 328px; 
    border: none; 
    border-radius: 25px; 
    background: rgb(255, 255, 255); 
    color: #bf3654; 
    padding: 20px;
    max-height: 460px;
    /* box-shadow: 5px 5px 10px 3px #e0e0e0; */
    -webkit-filter: drop-shadow(0 8px 24px rgba(0,0,0,.12));
    filter: drop-shadow(0 8px 24px rgba(0,0,0,.12));
    margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
   text-align: right;
}

.verPrice{
    color: #333;
    display: flex;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.verPrice button{
    height: 22px;
    width: 22px;
    background-color: #bf3654;
    border: none;
    border-radius: 50%;
    padding: 0.2rem;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 0.4rem;
    cursor: pointer;
    color: rgb(244, 238, 255);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    float: right;
}

.verPrice button svg{
    align-self: center;
    fill: rgb(244, 238, 255);
    flex-shrink: 0;
}

footer{
    width: 100%;
    background-color: #ffffff;
    padding:10px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 5px -5px 5px 0px #e0e0e0;
    margin-top: 90px;
    display: flex; flex-direction: column; flex-wrap: nowrap; align-items: center; justify-content: center;
}

div[loading]{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;}

#graph{
    display: none;
}

#rede svg{
    color: #bf3654;
    fill: #bf3654;
    margin-left: 5px;
}

@keyframes float{
	0%,100%{
		transform:translatey(0);
	}
	50%{
		transform:translatey(-20px);
	}
}

footer ul li{
    list-style: none;
}

footer ul{
    padding: 0px 30px;
}

footer div a svg{
    margin: 0px 5px;
}

.lang{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translate(-50%, 0px);
    left: 50%;
    bottom: auto;
    background-color: rgb(255 255 255);
    box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
    padding: 16px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 10;
    color: rgb(39, 38, 44);
    border-radius: 4px;}

.lang button{
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: #bf3654;
    box-shadow: none;
    color: rgb(39, 38, 44);
    padding: 0px 8px;
    border-radius: 8px;
    min-height: 32px;
    height: auto;
}

.settings{
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(41,44,48,.32);
    display: none;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    inset: 0px;
    padding: 20px;
}

.settings .cont{
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: rgb(14 14 44 / 10%) 0px 20px 36px -8px, rgb(0 0 0 / 5%) 0px 1px 1px;
    border:1px solid rgb(231, 227, 235);
    border-radius: 32px;
    max-height: 100vh;
    z-index: 100;
    width: 100%;
    max-width: 420px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}
*, ::before, ::after {
    box-sizing: border-box;
}

.jwRTIU:hover {
    background: #fdede8;
}

ol, ul {
    list-style: inside disc;
}
/* 
#searchFarms:focus:not(:disabled) {
    box-shadow: #fdede8 0px 0px 0px 1px, #fdede876 0px 0px 0px 4px;
} */

#searchFarms{
    font-weight: 400; 
    background-color: rgb(238, 234, 244); border-radius: 16px; box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset; color: #bf3654; display: block; font-size: 16px; height: 40px; outline: 0px; padding: 0px 16px; width: 100%;     border: 1px solid rgb(215, 202, 236);
}

@keyframes idZEjz {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}


#connectWallet{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: rgba(41,44,48,.32);
    z-index: 100;
}

#connectWallet article{
    display: inline-block;
    position: relative;
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 12%);
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 12%);
    background: url(/img/connect.svg) no-repeat 0 32px #bf3654;
    padding: 0;
}

#connectWallet article img, #connectWallet article svg{
    height: 70%;
}

.close-popup {
    width: 15px;
    height: 14px;
    position: absolute;
    cursor: pointer;
    -webkit-transform: none;
    transform: none;
    background: url(/img/icon-close-white.08312e38.svg);
    top: 0;
    right: 0;
    margin: 17px 17px 0 0;
}

.popup-header {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    line-height: 32px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.popup-header-info {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    width: 230px;
    margin: 8px auto 40px;
}

.popup-actions {
    display: block;
    background: #fff;
    padding: 40px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;

}
.popup__button {
    flex: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 50px;
    font-size: 18px;
    color: #333;
    border: 0;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.popup__button_proceed {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.popup-container.auth-popup .popup__button {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    font-size: 16px;
    font-weight: 500;
    color: #292c30;
    border: 1px solid #e7e7eb;
    border-radius: 12px;
    cursor: pointer;
    text-transform: none;
    margin: 0 0 8px;
    text-align: left;
    padding: 0 16px;
}

.popup-container.auth-popup .popup-actions .exchange-mail {
    position: relative;
}

.popup-container.auth-popup .popup__button.popup__button_proceed {
    background: #fff;
}

.popup__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 15px;
    text-decoration: underline;
    color: #bf3654;
}

.popup__documentation_icon {
    margin-right: 12px;
    stroke: #bf3654;
    color: #bf3654;
}
.recommended-badge {
    text-transform: uppercase;
    position: absolute;
    top: -8px;
    left: 12px;
    color: #bf3654;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background: #fdede8;
    border-radius: 6px;
}

#Account #a1,#Account #a2{
    display: none;
    margin: auto;
    max-width: 1200px;
    padding: 20px;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.PortfolioPage_content__2orrW {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-column-gap: 32px;
    -webkit-column-gap: 32px;
    column-gap: 32px;
}
.PortfolioPage_headline__1QXRz {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #292c30;
    margin-bottom: 16px;
}
.Empty_container__2P5NL {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px dashed #e7e7eb;
    height: 112px;
    box-sizing: border-box;
}
.Overview_container__Xr7Xx {
    display: grid;
    grid-template: minmax(-webkit-min-content,-webkit-max-content)/1fr;
    grid-template: minmax(min-content,max-content)/1fr;
    grid-row-gap: 8px;
    row-gap: 8px;
}

.Overview_total__2w3ri, .Total_container__2Jx0I {
    border-radius: 12px;
    background-color: #bf3654;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 112px;
}

.Empty_title__3Hbxx {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #292c30;
}

.Empty_headline__2iVqe {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #717781;
    margin-top: 8px;
}

.Empty_headline__2iVqe>a {
    text-decoration: underline;
    color: #292c30;
}
.Empty_headline__2iVqe {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #717781;
    margin-top: 8px;
}

.Total_image__36xm1 {
    width: 154px;
    height: 128px;
    position: absolute;
    top: 50%;
    right: -16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Hint_hint__1G8Xf {
    font-size: inherit;
    line-height: 20px;
    font-weight: inherit;
    display: flex;
    align-items: center;
    white-space: break-spaces;
    color: #292c30;
}

.Total_amount__Mzpt4 {
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    margin-top: 12px;
}

.Hint_hint__1G8Xf {
    font-size: inherit;
    line-height: 20px;
    font-weight: inherit;
    display: flex;
    align-items: center;
    white-space: break-spaces;
    color: #292c30;
}

.Hint_tooltip__1-O7I {
    margin-left: 6px;
}

.Hint_label__1GT7- {
    width: -webkit-max-content;
    width: max-content;
    flex-direction: column;
}

.Hint_hint__1G8Xf.Hint_colorInverse__Rq-1z .Hint_label__1GT7- {
    color: #fff;
}

.Hint_labelStr__3YwUM {
    display: flex;
}

.Tooltip_container__2qiNF {
    display: flex;
    cursor: pointer;
    position: relative;
}

.Tooltip_icon__3D-3N {
    width: 16px;
    height: 16px;
    display: block;
}

.css-1xd8nfj {
    box-sizing: border-box;
    display: flex;
    border: 1px solid #bf365469;
    border-radius: 4px;
    min-height: 90px;
    padding: 10px 16px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
    cursor: pointer;
}

.pages_page__1zGh3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-content {
    flex: 1 0;
    align-items: center;
    display: flex;
}
.TransactionsPage_page__2Z0wg {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 20px;
    align-self: flex-start;
}
.TransactionsPage_pageHeader__dN2mp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.TransactionFilters_container__3Lj8V {
    display: flex;
    margin-bottom: 32px;
    max-width: calc(100vw - 32px);
    overflow-x: auto;
}
.TransactionsPage_headline__3qljQ {
    margin-top: 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #292c30;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Button_button__fafM- {
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.Button_button__fafM-.Button_primary__zCRdE {
    background: #bf3654;
    border-color: #bf3654;
    color: #fff;
}
.Button_button__fafM-.Button_sizeL__29iAC {
    min-height: 40px;
    padding: 6px 24px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 12px;
}

.TransactionFilters_container__3Lj8V>button:not(:last-child) {
    margin-right: 8px;
}

.Button_transparent__3Txqc {
    background-color: transparent;
    border: none;
    color: #717781;
    border: 1px solid #e0e0e0;
}


.GatewayPage_top__2fdKO .GatewayPage_headline__k3K-k {
    font-weight: 600;
    font-size: 32px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.GatewayPage_top__2fdKO {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/* #Account #a2{

} */

.css-108ru6q {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 24px;
    -webkit-box-align: center;
    align-items: center;
}

.css-qzrdv6 {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: #e0e0e0 0px 3px 20px 0px;
    border-radius: 4px;
}



.css-1b7smjf {
    box-sizing: border-box;
    color: rgb(149, 157, 174);
    width: 50%;
    border-radius: 4px 0px 0px 4px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
}

.css-1478g4o {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 0px 4px 4px 0px;
    background-color: #bf3654;
    border: 1px solid #bf3654;
    padding: 10px 16px;
    text-align: center;
    cursor: default;
}

.css-1c5jmus {
    box-sizing: border-box;
    display: none;
    font-size: 15px;
    line-height: 16px;
    padding-left: 8px;
}

.css-1y8iex4 {
    box-sizing: border-box;
    margin-right: 16px;
    display: inline;
    color: #bf3654;
    text-decoration: none;
}

.css-ws6brz {
    box-sizing: border-box;
    display: inline;
    color: #bf3654;
    text-decoration: none;
}


.css-p4sk0p {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 16px;
    height: 100%;
    border-right: none rgb(58, 64, 80);
    border-bottom: none rgb(58, 64, 80);
    border-top-color: rgb(58, 64, 80);
    border-left-color: rgb(58, 64, 80);
}

.css-1a1x9ss {
    box-sizing: border-box;
    display: flex;
    padding: 6px 16px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.css-k7ucr0 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.css-y03rs4 {
    box-sizing: border-box;
    margin-right: 0px;
    font-size: 15px;
}
.css-1dpnkx8 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.css-1saoyjw {
    box-sizing: border-box;
    margin-right: 0px;
    font-size: 15px;
    color: #fff;
}
.css-tazj71 {
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(149, 157, 174);
}
.css-k7ucr0 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.css-y03rs4 {
    box-sizing: border-box;
    margin-right: 0px;
    font-size: 15px;
    color: #fff;
}

.css-nwuqvl {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.css-1y1932v {
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    display: none;
}

@media screen and (min-width: 576px){
    .css-qzrdv6 {
        max-width: 266px;
    }
    .css-1saoyjw {
        margin-right: 16px;
    }
    .css-y03rs4 {
        margin-right: 4px;
    }
    .css-1dpnkx8 {
        flex-direction: row;
    }
    .css-k7ucr0 {
        flex-direction: row;
    }
    .css-1c5jmus {
        display: flex;
    }

    .css-k7ucr0 {
        flex-direction: row;
    }

    .css-y03rs4 {
        margin-right: 4px;
    }

    .css-p4sk0p {
        width: 100%;
        padding: 24px 16px;
        border-color: rgb(58, 64, 80);
    }
    .css-1y1932v {
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .css-1a1x9ss {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .css-nwuqvl {
        width: 100%;
    }
}

    .css-14qjbbb {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        background-color: rgb(41, 47, 60);
        box-shadow: rgb(0 0 0 / 30%) 0px 3px 20px 0px;
        border-radius: 4px;
    }

    .css-ozqzpx {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: #e0e0e0 0px 3px 20px 0px;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        color: #bf3654;
    }

    .css-h2qtdl {
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        align-items: baseline;
    }

    .css-1xd8nfj:last-of-type {
        margin-bottom: 0px;
    }

@media screen and (min-width: 768px) {
    .css-p4sk0p {
        width: 100%;
        padding: 24px 32px;
        border-color: rgb(58, 64, 80);
    }
    .css-nwuqvl {
        width: 100%;
    }
    .css-1y1932v {
        padding-top: 24px;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    
    
}

@media screen and (min-width: 992px){
    .css-ozqzpx {
        min-height: 600px;
        flex-direction: row;
    }
    .css-h2qtdl {
        flex-direction: row;
    }
    .css-1xd8nfj {
        width: calc(50% - 8px);
    }
    .css-1xd8nfj:nth-of-type(2n+1) {
        margin-bottom: 0px;
    }
    .css-nwuqvl {
        width: 40%;
    }
    .css-1y1932v {
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .css-p4sk0p {
        padding-left: 40px;
        padding-right: 40px;
    }
    .css-1y1932v {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.css-towai5 {
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 16px;
}

.css-2wd3dp {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.css-1lqnctm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 12px;
}
.css-u3v6tv {
    box-sizing: border-box;
    position: relative;
}

.css-u3v6tv::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(/img/input-search-icon.svg);
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
}

.css-1cwu4yx {
    box-sizing: border-box;
    display: none;
    width: 100%;
    padding: 12px 16px;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgb(50, 56, 70);
    border: 1px solid rgb(58, 64, 80);
    border-radius: 4px;
    line-height: 16px;
}

.css-18jpe3 {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 14px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(/img/eVESTX.png);
}

.css-1xp4pqh {
    box-sizing: border-box;
    margin-right: 14px;
    font-size: 15px;
}

.css-tazj71 {
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(149, 157, 174);
}

.css-a2g0sg {
    box-sizing: border-box;
    border: 1px solid rgb(58, 64, 80);
    width: 100%;
    font-size: 15px;
    height: 48px;
    background-color: rgb(50, 56, 70);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    outline: 0px;
    padding-left: 46px !important;
    padding-right: 46px !important;
}

.css-1xh8gu {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-image: url(/img/asset-search-clear.svg);
    display: none;
    position: absolute;
    right: 44px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.css-y57hwn {
    box-sizing: border-box;
    width: 40px;
    height: 100%;
    background-image: url(./img/icons/arrow-dropdown.svg);
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transform: translateY(-50%) rotate(
180deg);
}

.css-1lbzxvo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 288px;
    overflow: auto;
    border-right: 1px solid rgb(58, 64, 80);
    border-bottom: 1px solid rgb(58, 64, 80);
    border-left: 1px solid rgb(58, 64, 80);
    border-image: initial;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgb(47, 53, 66);
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 20px 0px;
    z-index: 1;
}

.css-5ipae5 {
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-9w4ifu {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(/img/assets/bitcoin.svg);
}

.css-3stz5z {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(/img/token/eth.svg);
}

.css-2wd3dp {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.css-yuc3zn {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    border-width: initial;
    border-style: none;
    border-image: initial;
    border-right-color: rgb(58, 64, 80);
    border-bottom-color: rgb(58, 64, 80);
    border-left-color: rgb(58, 64, 80);
    border-top-color: initial;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgb(47, 53, 66);
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 20px 0px;
    z-index: 1;
}

.css-u3v6tv {
    box-sizing: border-box;
    position: relative;
}

.css-u3v6tv::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(./img/input-search-icon.svg);
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
}
.css-1ign871 {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 12px 16px;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    line-height: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: #e0e0e0 0px 3px 20px 0px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

.css-a2g0sg {
    box-sizing: border-box;
    border: 1px solid rgb(58, 64, 80);
    width: 100%;
    font-size: 15px;
    height: 48px;
    background-color: rgb(50, 56, 70);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    outline: 0px;
    padding-left: 46px !important;
    padding-right: 46px !important;
}

.css-1xh8gu {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-image: url(./img/asset-search-clear.svg);
    display: none;
    position: absolute;
    right: 44px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.css-11nd6gl {
    box-sizing: border-box;
    width: 40px;
    height: 100%;
    background-image: url(./img/arrow-dropdown.svg);
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transform: translateY(-50%) rotate(
0deg);
}

.css-1ign871 {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 12px 16px;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    line-height: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: #e0e0e0 0px 3px 20px 0px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: #333;
}

.css-1s5xnqd {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 14px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url(/img/eVESTX.png);
}

.css-1xp4pqh {
    box-sizing: border-box;
    margin-right: 14px;
    font-size: 15px;
}

.css-tazj71 {
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(149, 157, 174);
}

.css-towai5 {
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 16px;
}

.css-onxns5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.css-1awvbny {
    box-sizing: border-box;
    border: 1px solid rgb(58, 64, 80);
    width: 100%;
    font-size: 15px;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(50, 56, 70);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    outline: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: #e0e0e0 0px 3px 20px 0px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: #333;
}

.css-1awvbny:hover:not(:disabled) {
    border-color: rgb(105, 114, 132);
}

.css-9skeys {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.css-r6517m {
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.css-k1758r {
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    opacity: 0.5;
}

.css-xy4zc9 {
    box-sizing: border-box;
    line-height: 16px;
    opacity: 0.5;
}

.css-1d3b7oz {
    box-sizing: border-box;
    margin-bottom: 4px;
}

.css-16zkae7 {
    box-sizing: border-box;
    font-size: 11px;
    color: rgb(149, 157, 174);
}

.css-9skeys {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.css-1h4ncl2 {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.css-1lhokwf {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 24px;
    position: relative;
}

.css-1lhokwf::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgb(61, 80, 130);
    position: absolute;
    top: 0px;
    left: 12px;
    background: #bf3654;
}

.css-ut797b {
    box-sizing: border-box;
    width: 26px;
    min-width: 26px;
    height: 26px;
    background-color: #fff;
    padding: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    margin-right: 24px;
    position: relative;
}

.css-13xqdh9 {
    box-sizing: border-box;
    color: #333;
    margin-top: 4px;
}

.css-1onz0o8 {
    box-sizing: border-box;
    display: flex;
    font-size: 11px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(90, 129, 234);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 21px;
    background: #fff;
    color: #bf3654;
}

.css-15jc7qc {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 16px;
    position: relative;
}

.css-ut797b {
    box-sizing: border-box;
    width: 26px;
    min-width: 26px;
    height: 26px;
    background-color: rgb(41, 47, 60);
    padding: 2px;
    border: 1px solid rgb(61, 80, 130);
    border-radius: 50%;
    margin-right: 24px;
    position: relative;
    background-color: #bf3654;
    box-shadow: #e0e0e0 0px 3px 20px 0px;
    border: 1px solid #e0e0e0;
    color: #333;
}

.css-13xqdh9 {
    box-sizing: border-box;
    color: #333;
    margin-top: 4px;
}

.css-1dppws3 {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
}

.css-k1758r {
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    opacity: 0.5;
}

.css-xy4zc9 {
    box-sizing: border-box;
    line-height: 16px;
    opacity: 0.5;
}

.css-1d3b7oz {
    box-sizing: border-box;
    margin-bottom: 4px;
}
.css-16zkae7 {
    box-sizing: border-box;
    font-size: 11px;
    color: rgb(149, 157, 174);
}